!!!5
html(lang="en")
  head
    title #{title}
    script(type='text/javascript', src="/bootstrap/js/bootstrap.min.js")
    link(rel='stylesheet', type='text/css', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/main.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/oocss-space.css')
  body
    .container-fluid.pan
      .row-fluid
        header.jumbotron.masthead
          .container-fluid.pan
            .row-fluid
              .span2
                ul.nav.nav-list.affix.mal
                  li.active
                    a Kicking ass
                  li
                    a Taking Names
              .span10
                h1 Nick is awesome
      .row-fluid
        .span2
        .span10
          h1 Ben - A kickass architect
          p.
            Ben is an <a>architect.</a>
            He is currently enrolled at RPI but
            learned all he knows from his
            roommate Nick.
          p.
            Ben is an architect.
            He is currently enrolled at RPI but
            learned all he knows from his
            roommate Nick.
          p.
            Ben is an architect.
            He is currently enrolled at RPI but
            learned all he knows from his
            roommate Nick.
          p.
            Ben is an architect.
            He is currently enrolled at RPI but
            learned all he knows from his
            roommate Nick.
          p.
            Ben is an architect.
            He is currently enrolled at RPI but
            learned all he knows from his
            roommate Nick.
          p.
            Ben is an architect.
            He is currently enrolled at RPI but
            learned all he knows from his
            roommate Nick.
          p.
            Ben is an architect.
            He is currently enrolled at RPI but
            learned all he knows from his
            roommate Nick.
          p.
            Ben is an architect.
            He is currently enrolled at RPI but
            learned all he knows from his
            roommate Nick.
          p.
            Ben is an architect.
            He is currently enrolled at RPI but
            learned all he knows from his
            roommate Nick.
          p.
            Ben is an architect.
            He is currently enrolled at RPI but
            learned all he knows from his
            roommate Nick.
